@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes mesh {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-mesh {
  background: linear-gradient(-45deg, #e6f0f5, #fff0e6, #e8ece1, #f0e6e6);
  background-size: 400% 400%;
  animation: mesh 15s ease infinite;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F9F6F0;
}
